.Facilities {
  width: 100%;
  padding: 80px 0px;
}
.TitleBlock {
  margin: 30px 0px;
}
.PreTitle {
  margin-bottom: 10px;
}
.FacilitiesContent {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
}

@media (max-width: 1020px) {
  .FacilitiesContent {
    flex-direction: column;
    gap: 60px;
  }
}