.Contacts {
  flex: 1 0 auto;
  padding-bottom: 50px;
}

.BgImageContainer {
  width: 100%;
  overflow: hidden;
  display: block;
}

.BgImageContainer img {
  max-width: 100%;
}

.ContactList {
  padding: 40px 0px;
  text-align: center;
}
.Title, .PreTitle {
  padding-bottom: 20px;
}
.Links {
  padding: 20px 0px;
}
.Link {
  display: block;
  color: #2091e1;
  font-size: 18px;
}
.Link:not(:last-child) {
  margin-bottom: 28px;
}