.Home {
  min-height: 100%;
}

.ImageContainer {
  margin-top: 40px;
  width: fit-content;
  text-align: center;
  background-position: center;
  transform: translateX(calc((100% - 100vw) / -2));
}
.ImageContainer img {
  width: auto;
}