.Header {
  --bg-color: rgb(24, 44, 55);
  --font-color: #ffffff;
  --font-color-hover: #82cacb;
  --contact-color: #5f9096;

  width: 100%;
  background-color: var(--bg-color);
  color: var(--font-color);
  position: relative;
  z-index: 5;
}

.MainContact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

.HeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}