.Swiper {
  position: relative;
}
.Slice {
  width: 100%;
  overflow: hidden;
}
.Slice img {
  max-width: 100%;
}
.Decor {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 5;
}
.Decor img {
  max-width: 100%;
}