.Footer {
  background: #19313e;
  width: 100%;
}

.FooterContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
}

.FooterContent div {
  margin: 0 auto;
}

.LogoContainer {
  flex: 0 0 135px;
}

.LogoContainer img {
  width: 100%;
}

.Copyright {
  color: #fff;
  font-size: 14px;
  word-spacing: 2px;
  max-width: 25%;
  line-height: 1.5em;
}

.Link {
  color: #82cacb;
  display: flex;
  align-items: center;
}

.Media {
  display: flex;
  gap: 10px;
}

.MainContact {
  text-align: center;
  padding: 20px 0px 40px 0px;
}

@media (max-width: 800px) {
  .LogoContainer {
    width: 135px;
    margin: 0 auto;
  }
  .FooterContent {
    flex-direction: column;
  }
  .Copyright {
    color: #fff;
    font-size: 14px;
    word-spacing: 2px;
    max-width: none;
    text-align: center;
  }
}