.Nav {
  display: flex;
}

.Link:not(:last-child) {
  margin: 0px 24px 0px 0px;
}

@media (max-width: 767.98px) {
  .Nav {
    flex-direction: column;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-top: 150px;
    left: 0;
    top: -150vh;
    transition: top 0.3s;
    background-color: var(--bg-color);
  }

  .Link {
    font-size: 20px;
  }

  .Link:not(:last-child) {
    margin: 0px 0px 24px 0px;
  }
}